.edit-profile-page {
  min-height: 100vh;
  background: linear-gradient(180deg, #A8C5E2 0%, #D7C7E9 100%);
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.profile-header {
  text-align: center;
  padding-top: 50px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 0;
}

h3 {
  margin-bottom: 25px;
  font-size: 20px;
}

.profile-container {
  max-width: 720px;
  margin: 50px auto 100px;
  padding: 45px;
  background-color: #F3FAFF;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
}

.form-section {
  text-align: left;
}

.form-grid-vertical {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 6px;
}

input, .secondary {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  font-size: 15px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 5px rgba(69, 160, 73, 0.4);
}

input:disabled {
  background-color: #e9e9e9;
  cursor: not-allowed;
}

.submit {
  background-color: #FFD580;
  margin: 0 auto;
  padding: 8px 10px;
  transition: background-color 0.2s, transform 0.2s ease;
  cursor: pointer;
  width: 30%;
  display: block;
  border-radius: 10px;
  font-size: 15px;
}

.submit:hover {
  background-color: #e6ac47;
  transform: scale(1.05);
}

.back {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3EAC87;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s ease;
  margin: 10px;
  color: white;
}

.back:hover {
  background-color: #309674;
  transform: scale(1.05);
}