:host {
  display: block;
  background: linear-gradient(180deg, #A8C5E2 0%, #D7C7E9 100%);
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #2F2E2E;
}

.profile-header {
  text-align: center;
  margin-top: 60px;
}

.profile-header h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.profile-header button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3EAC87;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s ease;
  margin: 10px;
  color: white;
}

.profile-header button:hover {
  background-color: #309674;
  transform: scale(1.05);
}

.profile-container {
  max-width: 720px;
  margin: 30px auto 100px;
  padding: 45px;
  background-color: #F3FAFF;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
}

.form-section {
  text-align: left;
}

h3 {
  margin-bottom: 25px;
  font-size: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 35px;
  column-gap: 100px;
  align-items: end;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 6px;
}

input, select, .secondary {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  font-size: 15px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

select, .secondary {
  padding-right: 12px;
}


input:disabled, select:disabled {
  background-color: #e9e9e9;
  cursor: not-allowed;
}

input:focus, select:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 5px rgba(69, 160, 73, 0.4);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #85F1FF;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s ease;
  margin: 10px;
}

button:hover {
  background-color: #62D5E5;
  transform: scale(1.05);
}

.progress {
  border-radius: 20px;
  background-color: #ccc;
  cursor: not-allowed;
  width: 50%;
}

.progress:hover {
  background-color: #ccc;
}

.secondary {
  background-color: #FFD580;
  margin: 0;
  padding: 8px 10px;
  transition: background-color 0.2s, transform 0.2s ease;
}

.secondary:hover {
  background-color: #e6ac47;
  transform: scale(1.05);
}
